<a href="https://colab.research.google.com/github/ChandanaPittala/Python/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
var1=10
var

10

In [ ]:
x='c'
type(x)

str

In [ ]:
print(3+2)
print(3-2)
print(3*2)
print(55/2)
print(55//2)
print(3%2)

5
1
6
27.5
27
1

In [ ]:
x = 2
if x > 2 :
   print('Bigger than 2')
print("Done with 2")

Done with 2

In [ ]:
x = 1
if x > 2 :
   print('Bigger than 2')
elif x==2:
   print('x is equal to 2')
elif x==0:
     print('er')
else:
   print('less than 2')

less than 2

In [ ]:
for i in range(1,5,2):
  print(i)
  if(i>2):
    print("if in for loop")

1
3
if in for loop

In [ ]:
x=25
y=21
z=23
if x>y and x>z:
        print('{} {} is greater'.format((x),(y)))
elif y>x and y>z:
          print(f'{y} is greater')
elif z>x and z>y:
        print('z is greater',z,y)

25 21 is greater

In [ ]:
c+ ' '+ 'hi'
c+str(2)
y='2'
type(y)
y=int(y)
type(y)
y-float(y)
type(y)

int

In [ ]:
len(c)

21

In [ ]:
c="chandana is good girl"
c[-1]
c[0:8]
c[-4:]
c[1:8:2]
c[::-1]
c.find('i')
c.replace('i','c')
c.replace('is','has')
c
c1=c.replace('is','has')
c1
c
c.find('z')

-1

In [ ]:
list1=[1,2.3,'d','hai',True]
list1
list1.append([1,2,3])
list1
list1.extend([1,2,3])
list1
list2=[1,2]
list1.append(list2)
list1
list1.append(400)
list1

[1, 2.3, 'd', 'hai', True, [1, 2, 3], 1, 2, 3, [1, 2], 400]

In [ ]:
new = []
for i in [1,2,3,4,5]:
  new.append(i**2)
new

[1, 4, 9, 16, 25]

In [ ]:
li1 = [1,2,3,4,5,6,True,'age']
li1.reverse()

In [ ]:
sports = ['cricket', 'football', 'volleyball', 'baseball', 'softball', 'track and field', 'curling', 'ping pong', 'hockey']
sports
sports.insert(2,'horseback riding')
sports

['cricket',
 'football',
 'horseback riding',
 'volleyball',
 'baseball',
 'softball',
 'track and field',
 'curling',
 'ping pong',
 'hockey']

In [ ]:
trav_dest = ['Beirut', 'Milan', 'Pittsburgh', 'Buenos Aires', 'Nairobi', 'Kathmandu', 'Osaka', 'London', 'Melbourne']
trav_dest.pop(7)
trav_dest
trav_dest.remove('Melbourne')
trav_dest

['Beirut',
 'Milan',
 'Pittsburgh',
 'Buenos Aires',
 'Nairobi',
 'Kathmandu',
 'Osaka']

In [ ]:
tup = (1,2,3,'hi')
tup

(1, 2, 3, 'hi')

In [ ]:
x = ('Glenn', 'Sally', 'Joseph')
print(x[2])

Joseph

In [ ]:
tup[0] = 10

TypeError: ignored

In [ ]:
purse = dict()
purse['money'] = 12
purse['candy'] = 3
purse['tissues'] = 75
purse
purse = {}
purse['money'] = 12
purse['candy'] = 3
purse['tissues'] = 75
purse
purse1 ={'name':'john','age':23}
purse1
purse.keys()
purse.values()
purse.items()
purse.get('candy')
purse.get('notprest')

In [ ]:
def add(a,b):
  return a+b

In [ ]:
add(10,20)

30

In [ ]:
x = lambda a,b: a+b
x(10,20)

30

In [ ]:

def evenodd(b):
    if (b%2 == 0):
        print('no is even')
    else:
        print('no is odd')

In [ ]:
evenodd(2)

In [ ]:
nums = [2, 4, 6, 8, 10]
result = map(lambda a: a ** 2, nums)
print(result)
print(list(result))

<map object at 0x7f4f11876c10>
[4, 16, 36, 64, 100]

In [ ]:
#list comprehension
res = [i**2 for i in nums]
res

[4, 16, 36, 64, 100]

In [ ]:
Cities = ['Delhi', 'Pune', 'Chennai', 'Kolkata']
result = filter(lambda m: len(m) > 6, Cities)
list(result)

['Chennai', 'Kolkata']

In [ ]:
a = "hai"
try : 
  var1 = int(a)
except:
  var1 = -1
  print(f"it is not a number.so o/p is {var1}")

it is not a number.so o/p is -1

In [ ]:
a = 2.5
try : 
  var1 = int(a)
  print(var1)
except:
  var1 = -1
  print(f"it is not a number.so o/p is {var1}")

2

In [ ]:
#classes
class square:
  def __init__(self,side):
    self.side = side
  def area(self):
    return self.side * self.side

In [ ]:
name = square(10)
name.area()
name.side

10

In [ ]:
# open and read text file.
file1 = open('file.txt','r')
contents = file1.read()
print(contents)
file1.close()

hello world